/* ••• Fonts ••• */

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Black";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-BlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-BoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face
{
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

// @font-face
// {
//     font-style: normal;
//     font-weight: normal;
//     font-family: "Open";
//     src: url("../fonts/Open.ttf") format("truetype");
// }

// @font-face
// {
//     font-style: normal;
//     font-weight: normal;
//     font-family: "Open";
//     src: url("../fonts/Open.ttf") format("truetype");
// }

/* ••• Fonts End ••• */