/* ••• Header ••• */

header{
    z-index: 4;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #fff;
    background-color: #00000030;
    backdrop-filter: blur(15px);
    align-items: center;

    .header__container{
        position: relative;
        display: flex;
        width: 75%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        transition: 250ms;

        @media screen and (max-width: 500px){
            width: 80%;
        }
        
        @media screen and (max-width: 350px){
            width: 100%;
        }

        .logo__text{
            @media screen and (max-width: 500px){
                display: none;
            }
        }
    
        a.logo{
            position: relative;
            height: 50px;
            width: 50px;
            background-image: url(../img/header/logo.svg);
            background-repeat: no-repeat;
            background-position: 0;
            background-size: contain;
            transition: 100ms;
            text-decoration: none;
      
            p.logo__text{
                font-family: 'Roboto-bold';
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                padding-left: 70px;
                display: flex;
                align-items: center;
                font-size: 26px;
                text-decoration: none;
                height: 50px;
                transition: 500ms;
                white-space: nowrap;
                
                @media screen and (max-width: 570px){
                    font-size: 16px;
                }
                
                @media screen and (max-width: 460px){
                    display: none;
                }
            } 
    
            @media screen and (max-width: 350px){
                margin-left: 10px;
            }
    
            @media screen and (max-width: 210px){
                display: none;
            }
            
        }
    
        nav{
            position: relative;
            display: flex;
            transition: 100ms;
    
            @media screen and (max-width: 350px){
                margin-right: 10px;
            }

            @media screen and (max-width: 210px){
                margin-right: 0;
            }

            @media screen and (max-width: 140px){
                justify-content: space-around;
            }

            a.phone__button{
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                background-image: url(../img/header/phone.svg);
                margin-right: 55px;
                background-size: contain;
                transition: 300ms;
    
                @media screen and (max-width: 140px){
                    margin-right: 0;
                }

                &:hover{
                    transition: 300ms;
                    transform: scale(1.1);
                }
            }
    
            button.menu__button{
                display: block;
                position: relative;
                width: 30px;
                height: 30px;
                background-image: url("../img/header/menu.svg");
                background-color: transparent;
                cursor: pointer;
                background-size: contain;
                
                @media screen and (max-width: 210px){
                    margin-right: 0;
                }
            }

            @media screen and (max-width: 210px){
                width: 100%;
                justify-content: space-around;
            }
        }
    }
}

/* ••• Header End ••• */

